/**
* CSS para los tags html, body y genericos
*/
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px !important;
  color: #5b5b5b;
    background-color: #f7f7f9;
}

.generic-ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
.generic-legend{
    font-size: 16px !important;
}

.generic-background-white{
    background-color: #FFF;
}
.generic-row-buttons{
    padding: 15px 0px;
}
/**
* CSS para los errores de las validaciones de los campos
*/

.error-message{
    background-color: #f2dede;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
    
}

/**
* CSS para el breadcrumb o miga de pan
*/
.generic-breadcrumb{
    background-color: #fff;
    color: #000;
}
.generic-padding-breadcrumb{
    padding:0px;
}



/**
* CSS para margenes
*/
.generic-margin-top-15px{
    margin-top: 15px;
}
.generic-margin-top-25px{
    margin-top: 25px;
}
.generic-margin-top-50px{
    margin-top: 50px;
}

.generic-margin-bottom-25px{
    margin-bottom: 25px !important;   
}
/**
 * CSS generico para organizar el formulario de logueo
*/
.generic-form-login-box{
    width: 320px;
}
.generic-form-login-center{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.generic-panel-heading{
    background-color: #1995ad !important;
    color: #fff !important;
}

.generic-register-form{
    margin: 5% 35%;   
}
.generic-form-width-25-percentage{
    width: 25%;
}
.generic-display-inline{
    display: inline-block;
}
.generic-form-group{
    width: 100%;
}

/**
* CSS para los paginadores
*/
.generic-pagination{
    display: inline-block;
    padding-left: 0;
    margin: 0 0;
    border-radius: 4px;
}
.generic-pagination > li {
    display: inline;
}
.generic-pagination > li > a:hover {
    background-color: #a1d6e2;
    color: #fff;
    border: 1px solid #a1d6e2;
}
.generic-pagination > li:first-child > a{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.generic-pagination > li > a, .generic-pagination > li.current{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1995AD;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff
}

.generic-pagination > li.current{
    background-color: #1995ad;
    color: #fff;
    border: 1px solid #1995ad;
}
.generic-row-pagination{
    border: 0px solid !important;
}

.generic-pagination-info{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1995AD;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
/**
* CSS para las tablas
*/

.generic-table{
    width: 100% !important; 
    font-size: 11px !important;
    margin-bottom: 8px !important;
}
.generic-table > tbody > tr > td{
    vertical-align: middle !important;
}
.generic-title-table{
    border: 1px solid #1995AD;
    text-align: center;
    text-transform: uppercase;
    background-color: #1995AD;
    color: #fff;

}
.generic-table-list-action{
    list-style-type: none !important;
    padding: 0px !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
}

.generic-table-list-action > li{
    margin: 5px 0px ;
    width: 100%;
}

.generic-btn{
    margin: 5px;
    width: 16px;
}
/**
* CSS para los botones dropdown
*/

.generic-dropdown-menu, .generic-btn-dropdown-menu{
    font-size: 12px !important;
}
.generic-btn-dropdown-menu > li > a:hover, .generic-btn-dropdown-menu > li > a:focus{
    color: #fff;
    background-color: #1995AD;
}

/**
* CSS generica para las listas
*/

.generic-list-group{
    margin-bottom: 0px;
}

.generic-group-item{
    padding:5px 10px;
    border: transparent;
}
.generic-list-group > a:hover, .generic-list-group > a:focus{
    color: #fff;
    background-color: #1995AD;
}
/**
* CSS para los botones
*/

.generic-btn-default{
    background-color: #1995AD;
    color: #fff;
    border-color: #1995AD;
}
.generic-btn-default:hover{
    background-color: #FFF;
    color: #000;
}
.generic-btn-default:focus{
    background-color: #1995AD;
    color: #fff;
    border-color: #1995AD;
}
.generic-btn-default:active, .generic-btn-default.active, .open > .dropdown-toggle.btn-default{
    background-color: #1995AD;
    color: #fff;
    border-color: #1995AD;
}
.generic-btn-default:active:hover, .generic-btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .generic-btn-default:active:focus, .generic-btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .generic-btn-default.focus:active, .generic-btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
    background-color: #1995AD;
    color: #fff;
    border-color: #1995AD;
}

/**
* CSS generales
*/
.generic-disabled{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    background-color: #eee;
    height: 30px;
}
.generic-disabled-textarea{
    height: 120px !important;
    padding: 5px !important;
    overflow: auto !important;
}
/**
* CSS modal Flash->succes and Flash->error
*/

.generic-modal-flash-render{
    padding: 0px !important;
    margin-bottom: 0px !important;
    color: #000;
    background-color: transparent !important;
    border-color: transparent !important;
}

/**
* CSS para la barra de menu
*/

@media only screen and (min-width: 768px) {
    .generic-navbar-primary {
        background-color: #1995AD;
        border-color: #1995AD;
        border-radius: 0px;
    }
    .generic-navbar-brand{
        color: #FFF !important;
    }

    .generic-navbar-primary .navbar-nav > li > a{
        color: #fff;
    }
    .generic-navbar-primary .navbar-nav > li > a:hover, .generic-navbar-primary .navbar-nav > li > a:focus{
        background-color: #fff;
        color: #000;
    }
    .generic-navbar-primary .navbar-nav > .open > a, .generic-navbar-primary .navbar-nav > .open > a:hover,
    .generic-navbar-primary .navbar-nav > .open > a:focus{
        background-color: #fff;
        color: #000;
    }
    .generic-dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
        color: #fff;
        background-color: #1995AD;
    }
}

@media only screen and (max-width: 767px) {
    /* Para cuando el menu cambia para moviles */
    .generic-navbar-primary{
        background-color: #fff;
        border-color: transparent/*#1995AD*/;
    }
    .generic-navbar-header{
        background-color: #1995AD;
    }
    .generic-navbar-header > .navbar-toggle{
        border-color: transparent;
    }
    .generic-navbar-header .generic-navbar-brand{
        color: #fff;
    }
    .generic-navbar-header .generic-navbar-brand:hover{
        color: #fff;
    }
    .generic-navbar-header .navbar-toggle .icon-bar{
        background-color: #FFF;
    }
    .generic-navbar-header .navbar-toggle:hover .icon-bar, .generic-navbar-primary .navbar-toggle:focus .icon-bar{
        background-color: #000;
    }
    .generic-navbar-header .navbar-toggle:hover, .generic-navbar-primary .navbar-toggle:focus{
        background-color: #FFF;
    }
    .generic-navbar-collapse{
        background-color: #fff;
    }
    .generic-dropdown:hover, .generic-dropdown:focus{
        background-color: #1995AD;
    }
    .generic-dropdown > a:hover{
        color: #FFF !important;
    }
    .generic-navbar-collapse .navbar-nav > .open > a, .generic-navbar-collapse .navbar-nav > .open > a:hover, .generic-navbar-collapse .navbar-nav > .open > a:focus{
        background-color: #1995AD;
        color: #FFF;
    }
    .generic-navbar-collapse .navbar-nav > .open > .generic-dropdown-menu{
        background-color: #FFF;
        border-color: #fff !important;
    }
    .generic-navbar-collapse .navbar-nav > .open > .generic-dropdown-menu > li:hover, .generic-navbar-collapse .navbar-nav > .open > .generic-dropdown-menu > li:focus{
        background-color: #1995AD;
    }
    .generic-navbar-collapse .navbar-nav > .open > .generic-dropdown-menu > li > a:hover, .generic-navbar-collapse .navbar-nav > .open > .generic-dropdown-menu > li > a:focus{
        color: #fff;
    }
}
/**
* -------------------------------------------------------
*/

/**
* CSS para el modal
*/

@media only screen and (min-width: 520px){
    .generic-modal-dialog{
        width: 400px;
        margin:10px auto;
    }
}

@media only screen and (max-width: 519px){
    .generic-modal-dialog{
        width: auto;
        margin:10px;
    }
}
/**
* CSS que modifican el bootstrap
*/

.popover-content{
    padding:5px;
}